.page {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.pageContainer {
  display: flex;
  flex-grow: 1;
}



.content {
  padding: 100px;
  
  width: 100%;
}

.containerContent {
  flex-direction: row;
  min-width: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
 
  
}

.cardTable {
  flex-direction: row;
  width: calc(50% - 32px);
  padding: 20px;
  flex-grow: 0;
  flex-basis: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  min-width: 450px;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  text-align: left;
  background-color: #f2f2f2;
  font-weight: bold;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}


.cardLabel {
  padding: 10px;
}

.cardTableWrap {
  padding: 10px;
  width: 100%;


}

.ContainerForm {
  padding: 10px;
  display: flex;

}

.ContainerInput {
  display: flex;
  flex-grow: 1;
}

.ContainerButton {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-left: 10px;
  background-color: blue;
  border-radius: .25rem;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  opacity: 0.8;
}

.ContainerButton:hover {

  opacity: 1;
}

.ContainerInput Input {

  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  

}

.ContainerInput select {

  display: block;
  width: 100%;
  padding: .375rem 2.25rem .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;



}


.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border: 1px solid #dee2e6;
}
